# Mark shaders
*.glsl linguist-language=GLSL
*.slang linguist-language=Slang


# Folder to ignore for linguist.
include/** linguist-detectable=false
lib/** linguist-detectable=false
SPIR-V/** linguist-detectable=false
subprojects/** linguist-detectable=false
