[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/slang"]
	path = Dependencies/slang
	url = https://github.com/shader-slang/slang.git
[submodule "Dependencies/Vulkan-Loader"]
	path = Dependencies/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
