[submodule "Dependencies/submodules/slang"]
	path = Dependencies/submodules/slang
	url = https://github.com/shader-slang/slang.git
[submodule "subprojects/slang"]
	path = subprojects/slang
	url = https://github.com/shader-slang/slang
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/slang"]
	path = Dependencies/slang
	url = https://github.com/shader-slang/slang.git
[submodule "Dependencies/Vulkan-Headers"]
	path = Dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Dependencies/Vulkan-Loader"]
	path = Dependencies/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
